################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BelezaNaWeb/BelezaNaWebApi/obj
/BelezaNaWeb/BelezaNaWebApplication/obj
/BelezaNaWeb/BelezaNaWebDomain/obj
/BelezaNaWeb/BelezaNaWebApi/bin/Debug/netcoreapp3.1
/BelezaNaWeb/BelezaNaWebApplication/bin/Debug/netcoreapp3.1
/BelezaNaWeb/BelezaNaWebDomain/bin/Debug/netcoreapp3.1
/BelezaNaWeb/.vs/BelezaNaWeb/v16
/BelezaNaWeb/.vs/BelezaNaWeb/config
/BelezaNaWeb/BelezaNaWebApplication/BelezaNaWebApplication.csproj.user
/BelezaNaWeb/BelezaNaWebTest/bin/Debug/netcoreapp3.1
/BelezaNaWeb/BelezaNaWebTest/obj
/.vs/test-c/v16/.suo
/.vs
/BelezaNaWeb/.vs/BelezaNaWeb/DesignTimeBuild
