<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwConfigExceptions="true">
  <variable name="nameApp" value="Boticario" />
  <variable name="pathLog" value="C:\temp\NLog" />
  <variable name="defaultLayout" value="${longdate} ${message} ${exception:format=tostring}" />

  <!-- Enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- The targets to write to -->
  <targets>
    <!-- File Target for all log messages with basic details -->
    <target xsi:type="File" name="AppExceptionLog" fileName="${pathLog}\${nameApp}.Exception.${date:format=yyyyMMdd}.log" layout="${defaultLayout}" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="AppExceptionLog" minlevel="Error" writeTo="AppExceptionLog" />
  </rules>
</nlog>